<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Mot de passe pour[<b>{{vm.account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Mot de passe modifié !</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error" >
                <strong>Erreur : </strong> le mot de passe ne peut pas être changé.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                Le mot de passe et sa confirmation sont différents.
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nouveau mot de passe"
                           ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Veuillez entrer votre mot de passe.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Votre mot de passe doit contenir au minimum 4 caractères.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Votre mot de passe ne doit pas excéder 50 caratères.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmer le mot de passe"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            La confirmation du mot de passe est nécessaire.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Votre mot de passe de confirmation doit contenir au minimum 4 caractères.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Votre mot de passe de confirmation ne doit pas excéder 50 caratères.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Sauvegarder</button>
            </form>
        </div>
    </div>
</div>
